<div id="center_content">
<%= semantic_form_for @host, :html => { :class => 'myform', :id => 'myform' } do |f| %>
    <%= f.semantic_errors %>
  <fieldset>
    <legend>Required Parameters</legend>
    <%= f.input :host_name %>
    <%= f.input :contacts, :as => :select, :collection => Contact.all %>
    <%= f.input :max_check_attempts, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
    <%= f.input :check_period, :as => :select, :collection => Timeperiod.all %>
    <%= f.input :notification_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
    <%= f.input :notification_period, :as => :select, :collection => Timeperiod.all %>
  </fieldset>
  <fieldset>
    <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
    <div id="toggleSection" style="display:none">
      <%= f.input :display_name %>
      <%= f.input :parents, :as => :select, :collection => Host.all, :member_label => :host_name %>
      <%= f.input :hostgroups, :as => :select, :collection => Hostgroup.all %>
      <%= f.input :contact_groups, :as => :select, :collection => Contactgroup.all %>
      <%= f.input :check_command, :as => :select, :collection => Command.all %>
      <%= f.input :initial_state, :as => :nagios_options, :collection => %W(o d u) %>
      <%= f.input :check_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
      <%= f.input :retry_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
      <%= f.input :active_checks_enabled, :as => :boolean %>
      <%= f.input :passive_checks_enabled, :as => :boolean %>
      <%= f.input :obsess_over_host, :as => :boolean %>
      <%= f.input :check_freshness, :as => :boolean %>
      <%= f.input :freshness_threshold, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
      <%= f.input :event_handler, :as => :select, :collection => Command.all %>
      <%= f.input :event_handler_enabled, :as => :boolean %>
      <%= f.input :low_flap_threshold, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
      <%= f.input :high_flap_threshold, :as => :select, :collection => [ 1, 2, 3, 4, 5 ] %>
      <%= f.input :flap_detection_enabled, :as => :boolean %>
      <%= f.input :flap_detection_options, :as => :nagios_options, :collection => %W(o d u) %>
      <%= f.input :process_perf_data, :as => :boolean %>
      <%= f.input :retain_status_information, :as => :boolean %>
      <%= f.input :retain_nonstatus_information, :as => :boolean %>
      <%= f.input :first_notification_delay, :as => :select, :collection => [ 1, 2, 3, 4, 5 ]  %>
      <%= f.input :notification_options, :as => :nagios_options, :collection => %W(d u r f s) %>
      <%= f.input :notifications_enabled, :as => :boolean %>
      <%= f.input :stalking_options, :as => :nagios_options, :collection => %W(o d u) %>
      <%= f.input :notes %>
      <%= f.input :notes_url %>
      <%= f.input :action_url %>
      <%= f.input :icon_image %>
      <%= f.input :icon_image_alt %>
      <%= f.input :vrml_image %>
      <%= f.input :statusmap_image %>
    </div>
  </fieldset>
  <% # we want to have alias and address be submitted, but not show up on the form %>
  <div style="display:none">
    <%= f.input :alias %>
    <%= f.input :address %>
  </div>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>

