<%- @page_title = 'Hosts' -%>

<h1>Hosts</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Host Name</th>
      <th>Contacts</th>
      <th>Address</th>
      <th>Max Check Attempts</th>
      <th>Check Period</th>
      <th>Notification Interval</th>
      <th>Notification Period</th>
    </tr>
  </thead>
  <tbody>
    <%- @hosts.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_host_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.host_name %></td>
      <td><%= h c.contacts %></td>
      <td><%= h c.address %></td>
      <td><%= h c.max_check_attempts %></td>
      <td><%= h c.check_period %></td>
      <td><%= h c.notification_interval %></td>
      <td><%= h c.notification_period %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= will_paginate @hosts %>

<br />

<%= link_to 'New Host', new_host_path %>
