<%- @page_title = 'HostEscalations' -%>

<h1>HostEscalations</h1>

<div id="results_table">
<table cellspacing="0" class="styled table table-striped">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Host Name</th>
      <th>Host Group</th>
      <th>First Notification</th>
      <th>Last Notification</th>
      <th>Contacts</th>
    </tr>
  </thead>
  <tbody>
    <%- @hostescalations.each do |c| -%>
    <tr>
      <td><%= link_to 'Show', hostescalation_path(c) %> | <%= link_to 'Edit', edit_hostescalation_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.host %></td>
      <td><%= h c.hostgroup %></td>
      <td><%= h c.first_notification %></td>
      <td><%= h c.last_notification %></td>
      <td><%= h c.contacts.collect(&:to_s).join(", ") %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= paginate @hostescalations %>

<br />

<%= link_to 'New hostescalation', new_hostescalation_path %>
