<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <title>nagyo: <%= controller.action_name %></title> 

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tag %>

    </head> 

    <script>
        $(document).ready(function() {
            $('#toggleButton').click(function() {
                if ($('#toggleSection').is(":hidden"))
                {
                    $('#toggleSection').slideDown("slow");
                    } else {
                    $('#toggleSection').slideUp("slow");
                }
                return false;
            });
        });
    </script>

    <body> 

      <div id="content" class="container">

        <%= render "shared/nav_header" %>
            <!-- dropdown menu links -->
            <!--
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Action
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Action</a></li>
                    <li><a tabindex="-1" href="#">Another action</a></li>
                    <li><a tabindex="-1" href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
            -->

            <% if flash[:notice] -%>
                <div id="notice"><%= flash[:notice] %></div>
                <script type="text/javascript">
                    new Effect.Pulsate('notice', {pulses:1, duration:1});
                </script>
            <% end -%>

            <% if flash[:error] -%>
                <div id="error"><%= flash[:error] %></div>
                <script type="text/javascript">
                    new Effect.Shake('error', {distance:5});
                </script>
            <% end -%>

            <%- # Calling yield here triggers the insertion of the specific view -%>
            <%= yield %>

        </div>
        <hr />

        <% if false -%>
            <div id="footer">
                <p>Some cool footer here.</p>
            </div> <!-- end footer -->
        <% end -%>
    </body>
</html>
