

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">nagyo</a>
                <ul class="nav">
                    <%
                        navs = {
                          :commands => [],
                          :contacts => [:contacts, :contactgroups],
                          :clusters => [],
                          :timeperiods => [],
                          :hardwareprofiles => [],
                          :hosts => [:hosts, :hostgroups, :hostdependencies, :hostescalations],
                          :services => [:services, :servicegroups, :servicedependencies, :serviceescalations],
                        }
                        nav_links = [
                            :commands,
                            :contacts,
                            :clusters,
                            :hardwareprofiles,
                            :hosts,
                            :services,
                            :timeperiods,
                        ]
                            #:hostgroups,
                    %>
                    <% navs.each do |header, groups| %>
                      <% if groups.empty? %>
                        <li class="<%= current_page?(send("#{header}_path")) ? 'active' : nil %>">
                          <%= link_to header.to_s.humanize, send("#{header}_path") %>
                        </li>
                      <% else %>
                        <li class="<%= any_is_current_page?(groups) ? 'active' : nil %>">
                          <%= link_to("#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" } )  do %>
                            <%= h header.to_s.humanize %>
                            <span class="caret"></span>
                          <% end %>
                          <ul class="dropdown-menu">
                            <% groups.each do |group| %>
                              <li><%= link_to(group.to_s.humanize, send("#{group}_path"), :tabindex => -1) %></li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
            <!-- dropdown menu links -->
            <!--
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Action
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">Action</a></li>
                    <li><a tabindex="-1" href="#">Another action</a></li>
                    <li><a tabindex="-1" href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
            -->
