<%- @page_title = 'Commands' -%>

<h1>Commands</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Command Name</th>
      <th>Command Line</th>
    </tr>
  </thead>
  <tbody>
    <%- @commands.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_command_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.command_name %></td>
      <td><%= h c.command_line %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />

<%= link_to 'New Command', new_command_path %>
