<%- @page_title = 'Clusters' -%>

<h1>Clusters</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>VIP Name (DNS)</th>
      <th>Hostgroup</th>
      <th>Contacts</th>
      <th>Percent Warn</th>
      <th>Percent Crit</th>
      <th>Check Command</th>
      <th>Check Command Arguments</th>
      <th>ECV URI</th>
    </tr>
  </thead>
  <tbody>
    <%- @clusters.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', cluster_path(c) %> | <%= link_to 'Edit', edit_cluster_path(c) %> | <%= link_to 'Destroy', cluster_path(c), :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.vip_name %> (<%= h c.vip_dns %>)</td>
      <td><%= h c.hostgroup %></td>
      <td><%= h c.contacts.collect(&:to_s).join(',') %></td>
      <td><%= h c.percent_warn %></td>
      <td><%= h c.percent_crit %></td>
      <td><%= h c.check_command %></td>
      <td><%= h c.check_command_arguments %></td>
      <td><%= h c.ecv_uri %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= paginate @clusters %>

<br />

<%= link_to 'New Cluster', new_cluster_path %>
