<div id="center_content">
  <%= semantic_form_for @contact, :html => { :class => 'myform', :id => 'myform' } do |f| %>
  <fieldset>
    <legend>Required Parameters</legend>
    <%= f.input :contact_name %>
    <%= f.input :email %>
    <%= f.input :host_notifications_enabled, :as => :select, :collection => [ 0, 1 ] %>
    <%= f.input :service_notifications_enabled, :as => :select, :collection => [ 0, 1 ] %>
    <%= f.input :host_notification_period, :as => :select, :collection => Timeperiod.all %>
    <%= f.input :service_notification_period, :as => :select, :collection => Timeperiod.all %>

    <%= f.input :host_notification_options, :as => :nagios_options, :collection => %W(d u r f s n) %>
    <%= f.input :service_notification_options, :as => :nagios_options, :collection => %W(w u c r f s n) %>
    <%= f.input :host_notification_commands, :as => :select, :collection => Command.all %>
    <%= f.input :service_notification_commands, :as => :select, :collection => Command.all %>
  </fieldset>
  <fieldset>
    <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
    <div id="toggleSection" style="display:none">
      <%= f.input :alias %>
      <%= f.input :contact_groups, :as => :select, :collection => Contactgroup.all, :include_blank => false, :input_html => { :multiple => true, :include_blank => false } %>
      <%= f.input :pager %>
      <%= f.input :addressx %>
      <%= f.input :can_submit_commands, :as => :select, :collection => [ 0, 1 ]  %>
      <%= f.input :retain_status_information, :as => :select, :collection => [ 0, 1 ]  %>
      <%= f.input :retain_nonstatus_information, :as => :select, :collection => [ 0, 1 ]  %>
  </fieldset>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>

