<%- @page_title = 'Contacts' -%>

<h1>Contacts</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Contact Name</th>
      <th>Email Address</th>
      <th>Host Notifications Enabled?</th>
      <th>Service Notifications Enabled?</th>
      <th>Host Notification Period</th>
      <th>Service Notification Period</th>
      <th>Host Notification Options</th>
      <th>Service Notification Options</th>
      <th>Host Notification Commands</th>
      <th>Service Notification Commands</th>
    </tr>
  </thead>
  <tbody>
    <%- @contacts.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_contact_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.contact_name %></td>
      <td><%= h c.email %></td>
      <td><%= h c.host_notifications_enabled %></td>
      <td><%= h c.service_notifications_enabled %></td>
      <td><%= h c.host_notification_period %></td>
      <td><%= h c.service_notification_period %></td>
      <td><%= h c.host_notification_options %></td>
      <td><%= h c.service_notification_options %></td>
      <td><%= h c.host_notification_commands.collect(&:to_s) %></td>
      <td><%= h c.service_notification_commands.collect(&:to_s) %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= paginate @contacts %>

<br />

<%= link_to 'New Contact', new_contact_path %>
