<%- @page_title = 'HostGroups' -%>

<h1>HostGroups</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>HostGroup Name</th>
      <th>Alias</th>
      <th>Notes</th>
      <th>Notes URL</th>
      <th>Action URL</th>
    </tr>
  </thead>
  <tbody>
    <%- @hostgroups.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_hostgroup_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.hostgroup_name %></td>
      <td><%= h c.alias %></td>
      <td><%= h c.notes %></td>
      <td><%= h c.notes_url %></td>
      <td><%= h c.action_url %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />

<%= link_to 'New Hostgroup', new_hostgroup_path %>
