<div id="center_content">
<%= semantic_form_for @servicedependency, :html => { :class => 'myform', :id => 'myform' } do |f| %>
  <%= f.semantic_errors %>
    <%= f.inputs :name => "What is being Depended upon" do %>
      <%= f.input :host, :member_label => :host_name %>
      <%= f.input :hostgroup %>
      <%= f.input :service, :member_label => :name %>
    <% end %>
    <%= f.inputs :name => "Dependent" do %>
      <%= f.input :dependent_host, :member_label => :host_name %>
      <%= f.input :dependent_hostgroup %>
      <%= f.input :dependent_service, :member_label => :name %>
    <% end %>
  <fieldset>
    <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
    <div id="toggleSection" style="display:none">
      <%= f.input :inherits_parent, :as => :boolean %>
      <%= f.input :execution_failure_criteria, :as => :nagios_options, :collection => %W(o d u p n) %>
      <%= f.input :notification_failure_criteria, :as => :nagios_options, :collection => %W(o d u p n) %>
      <%= f.input :dependency_period, :as => :select, :collection => Timeperiod.all %>
    </div>
  </fieldset>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>
