<%- @page_title = 'Hardware Profile Checks' -%>

<h1>Hardware Profile Checks</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Hardware Profile</th>
      <th>Contacts</th>
      <th>Check Commands</th>
    </tr>
  </thead>
  <tbody>
    <%- @hardwareprofiles.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_hardwareprofile_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.hardware_profile %></td>
      <td><%= h c.contacts.join(',') %></td>
      <td><%= h c.check_commands.join(',') %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= paginate @hardwareprofiles %>

<br />

<%= link_to 'New Hardware Profile', new_hardwareprofile_path %>
