<div id="center_content">
<%= semantic_form_for @service, :html => { :class => 'myform', :id => 'myform' } do |f| %>
  <%= f.semantic_errors %>
  <fieldset>
    <legend>Required Parameters</legend>
    <%# host_name wasn't showing in selection, formtastic using wrong field? so specify member_label explicitly %>
    <%= f.input :host, :as => :select, :collection => Host.all, :member_label => :host_name %>
    <%= f.input :hostgroup, :as => :select, :collection => Hostgroup.all %>
    <%= f.input :contacts, :as => :select, :collection => Contact.all %>
    <%= f.input :check_command, :as => :select, :collection => Command.all %>
    <%= f.input :check_command_arguments %>
    <%= f.input :max_check_attempts, :as => :select, :collection => [ 1, 2, 3, 4, 5] %>
    <%= f.input :check_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5] %>
    <%= f.input :retry_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5] %>
    <%= f.input :notification_interval, :as => :select, :collection => [ 1, 2, 3, 4, 5] %>
    <%= f.input :check_period, :as => :select, :collection => Timeperiod.all %>
    <%= f.input :notification_period, :as => :select, :collection => Timeperiod.all %>
  </fieldset>
  <fieldset>
    <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
    <div id="toggleSection" style="display:none">
      <%= f.input :display_name %>
      <%= f.input :servicegroups %>
      <%= f.input :is_volatile, :as => :boolean %>
      <%= f.input :initial_state, :as => :nagios_options, :collection => %W(o w u c) %>
      <%= f.input :active_checks_enabled, :as => :boolean %>
      <%= f.input :passive_checks_enabled, :as => :boolean %>
      <%= f.input :obsess_over_service, :as => :boolean %>
      <%= f.input :check_freshness, :as => :boolean %>
      <%= f.input :freshness_threshold %>
      <%= f.input :event_handler, :as => :select, :collection => Command.all %>
      <%= f.input :event_handler_enabled, :as => :boolean %>
      <%= f.input :low_flap_threshold %>
      <%= f.input :high_flap_threshold %>
      <%= f.input :flap_detection_enabled, :as => :boolean %>
      <%= f.input :flap_detection_options, :as => :nagios_options, :collection => %W(o w u c) %>
      <%= f.input :process_perf_data, :as => :boolean %>
      <%= f.input :retain_status_information, :as => :boolean %>
      <%= f.input :retain_nonstatus_information, :as => :boolean %>
      <%= f.input :first_notification_delay, :as => :select, :collection => [ 1, 2, 3, 4, 5] %>
      <%= f.input :notification_options, :as => :nagios_options, :collection => %W(w u c r f s n) %>
      <%= f.input :notifications_enabled, :as => :boolean %>
      <%= f.input :stalking_options, :as => :nagios_options, :collection => %W(o w u c) %>
      <%= f.input :register, :as => :boolean %>
      <% f.input :service_description %>
      <% f.input :name %>
      <%= f.input :notes %>
      <%= f.input :notes_url %>
      <%= f.input :action_url %>
      <%= f.input :icon_image %>
      <%= f.input :icon_image_alt %>
    </div>
  </fieldset>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>

