<%- @page_title = 'Services' -%>

<h1>Services</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Nodegroup</th>
      <th>Contacts</th>
      <th>Check Command</th>
      <th>Check Command Arguments</th>
      <th>Check Period</th>
      <th>Notification Period</th>
    </tr>
  </thead>
  <tbody>
    <%- @services.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_service_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c._nodegroup %></td>
      <td><%= h c.contacts %></td>
      <td><%= h c.check_command %></td>
      <td><%= h c.check_command_arguments %></td>
      <td><%= h c.check_period %></td>
      <td><%= h c.notification_period %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

<br />

<%= link_to 'New Service', new_service_path %>
