<div id="center_content">
<%= semantic_form_for @hostdependency, :html => { :class => 'myform', :id => 'myform' } do |f| %>
  <fieldset>
    <legend>Required Parameters</legend>
    <%= f.input :host %>
    <%= f.input :dependent_host %>
    <%= f.input :hostgroup %>
    <%= f.input :dependent_hostgroup %>
  </fieldset>
  <fieldset>
    <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
    <div id="toggleSection" style="display:none">
      <%= f.input :inherits_parent, :as => :boolean %>
      <%= f.input :execution_failure_criteria, :as => :nagios_options, :collection => %W(o d u p n) %>
      <%= f.input :notification_failure_criteria, :as => :nagios_options, :collection => %W(o d u p n) %>
      <%= f.input :dependency_period, :as => :select, :collection => Timeperiod.all %>
    </div>
  </fieldset>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>

