<%- @page_title = 'Contact Groups' -%>

<h1>Contact Groups</h1>

<div id="results_table">
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap"></th>
      <th>Contact Group Name</th>
      <th>Alias</th>
      <th>Contact Group Members</th>
    </tr>
  </thead>
  <tbody>
    <%- @contactgroups.each do |c| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td><%= link_to 'Show', c %> | <%= link_to 'Edit', edit_contactgroup_path(c) %> | <%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= h c.contactgroup_name %></td>
      <td><%= h c.members.join(',') %></td>
      <td><%= h c.contactgroup_members.join(',') %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->
<%= will_paginate @contactgroups %>

<br />

<%= link_to 'New Contact Group', new_contactgroup_path %>
