<div id="center_content">
  <%= semantic_form_for @servicegroup, :html => { :class => 'myform', :id => 'myform' } do |f| %>
    <%= f.semantic_errors %>
    <fieldset>
      <legend>Required Parameters</legend>
      <%= f.input :servicegroup_name %>
      <%= f.input :alias %>
    </fieldset>
    <fieldset>
      <a href="#" id="toggleButton"><legend>Optional Parameters</legend></a>
      <div id="toggleSection" style="display:none">
        <%= f.input :members, :as => :select, :collection => Service.all, :member_label => :name %>
        <%= f.input :servicegroup_members, :as => :select, :collection => Servicegroup.all %>
        <%= f.input :notes %>
        <%= f.input :notes_url %>
        <%= f.input :action_url %>
      </div>
    </fieldset>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end %>
  <% end %>

</div>
